@import '../tokens';

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: auto;
  min-height: 100%;
}

body {
  height: 100%;
  background-color: var(--background-color-primary);
  font-family: var(--font-family-sans);
  padding-top: var(--spacing-3xl);
}
